.box{
    height: 100px;
    width: 300px;
    background-color: pink;
    animation-name: widthChange;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-delay: 0;
    animation-iteration-count: 3;
    animation-direction: alternate;

}
@keyframes widthChange {
    from{
        width: 10px;
    }
    to{
        width: 400px;
    }
}
@keyframes fontAnimation {
    from{font-size: 20px;}
    to{font-size: 40px;}
}
@keyframes backgroundColor {
    from{background-color: plum;}
    to{background-color: hotpink;}
    
}
