h1{
    font-family: Papyrus;
    color: darkmagenta;
}
h3{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: mediumvioletred;
}
p{
    font-family: 'Courier New', Courier, monospace;
    color: magenta;
}
