div{
    height: 300px;
    width: 500px;
    background-color: lightcyan;
    /* border-width: 5px;
    border-style: solid;
    border-color: cyan; */
    border: 5px solid purple;
    /* border-left-style: dashed;
    border-left-color: yellow; */
    border-top: 5px dashed yellow;
}
h1{
    /* border-width: 5px;
    border-style: dotted;
    border-color: darkblue; */
    border: 5px solid hotpink;
}
