div{
    /* height: 200px;
    width: 200px; */
    height: 100px;
    width: 100px;
    background-color: darkmagenta;
    /* transition: 3s 1s; */
    margin-top: 10px;
    margin: 0 auto;
    transition: margin-top 2s ease-in 0.2s;
}
div:hover
{
    background-color: hotpink;
    /* border-radius: 50%; */
    margin-top: 400px;
}
